
html, body {
  height:100%;
}

h1 {
  padding: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  background-color: #343A40;
  font-size: 3rem !important;
  text-shadow: 2px 20px 9px black;
}

h2 {
  margin-left: 100px;
}

/*
.navbar {
  
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 10px;
  background-color: #343A40;

}
*/


.button {
  margin: 0px;
  width:150px;
  align-items: center;
  padding: 5px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,0);

}
#signinB {
   background-color: #CFB87C;
   border-color: #CFB87C;
}
#registerB {
   background-color: #CFB87C;
   border-color: #CFB87C;
}

.row {
  padding-left: 0px;
}

div.container {
  margin-top: 8px;
  max-width: 500px;
  margin-left: 35%;
  font-size: 1.1rem;
}
